<ul>
        <% username %>
    <% if (  !loggedin ) { %>
        <li><a href='/login'>Login</a></li>
        <li><a href='/signup'>Signup</a></li>    
    <% } else{ %>  
        <li><a href='/logout'>Logout</a></li> 
        <li><a href='/protected-1'>protected-1</a></li>    
        <li><a href='/protected-2'>protected-2</a></li>           
    <% } %>
</ul>
<% if (  loggedin ) { %>
    <div>Hi, <%= username %> </div>
<% } %>

<% include ./message %>