<html>
    <% include ./partials/head %>
  <body>
      <header>
          <% include ./partials/nav %>
        </header>
      <h1>Signup</h1>
    <form action="/signup" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>